<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>灯带打印配置</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/dddayin.js"></script>
</head>

<div class="background-image">
    <img src="../img/时间.png" class="img1">
    <span style="color: black; font-size: 20px;margin-left: 20px" id="now_time" ></span>
    <span style="margin-left: 80px;font-size: 20px"><img src="../img/img_tx.png" style="height: 30px;">  您 好 <b><span id="dlm" style="color: black"></span></b> , 欢 迎 您 登 录 !</span>
    <img src="../img/五金.png" class="img1" style="margin-left: 30px">
    <img src="../img/五金图标-02.png" class="img1"style="margin-left: 10px">
    <div class="menu">
        <button class="btn1"><img src="../img/微信.png"></button>
        <div class="content">
            <img src="../img/二维码1.png">
        </div>
    </div>
    <div class="menu">
        <button class="btn1"><img src="../img/关于我们.png"></button>
        <div class="content">
            <img src="../img/二维码2.png">
        </div>
    </div>
    <div class="menu">
        <button class="btn2">我的账号</button>
        <div class="content">
            <div>
                <img src="../img/公司loge.png">
            </div>
            <div style="margin-left: 60px">
                <a href="http://localhost:9091/index.html" target="_top">退出登录</a>
            </div>
        </div>
    </div>
    <a href="main.html" target="_top"><img src="../img/小房子.png" class="img1"></a>
    <img src="../img/太阳.png" class="img1" style="margin-left: 20px;">
</div>
<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <span style="border-right: 20px solid white"></span>
        <button id="update-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <span style="border-right: 20px solid white"></span>
        <a class="btn btn-primary" style="color: white;padding-top: 8px;border-radius:5px;">当前页：灯带打印配置</a>
    </div>

</div>

<div class="table-div border-top">
    <table id="dddayinTable"></table>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>

                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-p1">客户</label>
                                <select id="update-p1" name="p1" class="form-control"
                                        autocomplete="off" data-required="1">
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-p2">日期</label>
                                <select id="update-p2" name="p2" class="form-control"
                                        autocomplete="off" data-required="1">
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-p3">订单号</label>
                                <select id="update-p3" name="p3" class="form-control"
                                        autocomplete="off" data-required="1">
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-p4">地址</label>
                                <select id="update-p4" name="p4" class="form-control"
                                        autocomplete="off" data-required="1">
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                        </div>

                    </div>


                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-p5">房间柜号</label>
                                <select id="update-p5" name="p5" class="form-control"
                                        autocomplete="off" data-required="1">
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-p6">铝型材</label>
                                <select id="update-p6" name="p6" class="form-control"
                                        autocomplete="off" data-required="1">
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-p7">其他类别</label>
                                <select id="update-p7" name="p7" class="form-control"
                                        autocomplete="off" data-required="1">
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>



                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div class="background-image2 flex-container" style="margin-top: 800px">
    <div class="info-box" style="width: 500px;margin-left: 10px">
        <span>主办单位：华群家具材料（深圳）有限公司</span><br>
<!--        <span>技术专线：123456</span><br>-->
        <span>备案/许可证编号为：赣ICP备2024023496号</span>
    </div>
    <div class="info-box" style="width: 600px;">
        <span>最佳使用效果：谷歌浏览器</span><br>
        <span>联系地址：深圳市南山区西丽街道大磡社区杨门工业区22号101</span><br>

    </div>
    <div class="info-box" style="width: 300px;">
        <img src="../img/电话.png" class="img2">13798420798<br>
        <span>关于我们</span><img src="../img/数据趋势.png" style="margin-left: 20px" class="img2">
    </div>
</div>

</body>
</html>