<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>灯带开料参照</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/ddklcz.js"></script>
</head>

<body class="pt-2">
<div style="height: 50px;width: auto">
    <img src="../img/img3.jpg" style="height: 48px;width: 150px;margin-left: 3px">
    <img src="../img/img.jpg" style="height: 48px;width: 150px;margin-left: 3px">
    <img src="../img/img1.jpg" style="height: 48px;width: 150px;margin-left: 3px">
    <img src="../img/img2.jpg" style="height: 48px;width: 150px;margin-left: 3px">
<!--    <span style="background-image: url("");">-->

<!--    </span>-->
    <span style="margin-left: 80px;font-size: 15px"><img src="../img/img_tx.png" style="height: 30px;">  您 好 <b><span id="dlm" style="color: #2b55e0"></span></b> , 欢 迎 您 登 录 !</span>
<!--    <span class="col-md-2 mb-2">-->
<!--        <button class="btn" style="background-color: #d1d2d4;color: white">-->
<!--            <a href="userInfo.html" class="link-dark rounded" data-src="userInfo.html" style="font-weight: bold;text-decoration: none;color: inherit;"><i><img src="../img/权限.png"  class="icon1"></i>查看权限</a>-->
<!--        </button>-->
<!--    </span>-->
</div>
<div class="top-toolbar row" style="background-color: #d1d2d4">
    <div class="col-md-3 mb-2">
        <input id="name" type="text" class="form-control" placeholder="名称型材" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2">
        <button id="select-btn" class="btn" style="background-color: limegreen;color: white">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
    <div style="color: #0a53be; font-size: 120%">
        <span id="now_time"></span>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <span style="border-right: 20px solid white"></span>
        <button id="add-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <span style="border-right: 20px solid white"></span>
        <button id="update-btn" class="btn btn-primary" style="border-radius:5px;">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <span style="border-right: 20px solid white"></span>
        <button id="delete-btn" class="btn btn-primary" style="border-radius:5px;background-color: red;border: 1px solid red">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <span style="border-right: 20px solid white"></span>
        <a class="btn btn-primary" style="color: white;padding-top: 8px;border-radius:5px;">当前页：灯带开料参照</a>
    </div>
</div>

<div class="table-div border-top">
    <table id="ddklczTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">

                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-name">名称型材</label>
                                <input id="add-name" name="name" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入名称型材！
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="add-chicun">实际尺寸(减)</label>
                                <input id="add-chicun" name="chicun" type="text" class="form-control" autocomplete="off">
                                <div class="invalid-feedback">
                                    请输入实际尺寸(减)！
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>

                    <div class="row justify-content-evenly">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-name">名称型材</label>
                                <input id="update-name" name="name" type="text" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="update-chicun">实际尺寸(减)</label>
                                <input id="update-chicun" name="chicun" type="text" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<!--<script type="text/javascript">-->
<!--    $(function () {-->
<!--        $('a').click(function () {-->
<!--            let src = $(this).data('src');-->
<!--            if (src != '' && src != undefined) {-->
<!--                if(src=="退出"){-->
<!--                    window.location.href="../index.html"-->
<!--                }else{-->
<!--                    $('#iframe').attr('src', src);-->
<!--                }-->

<!--            }-->
<!--        })-->
<!--    })-->
<!--</script>-->
</html>