<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>灯带打印</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/ddPrint.js"></script>
</head>

<style>
    @page  {
        width: 100mm;
    }
</style>

<body class="pt-2">
<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="select-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            选择数据
        </button>
        <button id="print-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            打印
        </button>
        <a id="dqy" class="btn btn-primary" style="color: white;padding-top: 8px">当前页：灯带打印</a>
    </div>
</div>

<!--<div class="table-div border-top" style="width: 580px;border: none" id="div">-->
<div class="table-div border-top" style="width: 380px;border: none" id="div">
    <div class="row" style="border: none">
        <div style="border: none">
            <div style="border: none">
<!--                <table class="table" style="width: 480px;border: none">-->
                <table class="table" style="width: 380px;border: none">
<!--                    <thead>-->
                    <div style="font-size: 10px;border: none;text-align: center">天龙五金灯控系统</div>
                    <tr style="font-size: 10px;border: none">
                        <th style="width: 9mm;border: none;margin-left:3px;padding-right:0px">客户</th>
                        <td style="width: 23mm;border: none;padding-left:3px;padding-right:0px" id="data1"></td>
<!--                        <th style="margin-left:-10px;width: 6mm;border: none;padding-left:0px;padding-right:0px">日期</th>-->
                        <th style="margin-left:-15px;width: 6mm;border: none;padding-left:0px;padding-right:0px">日期</th>
                        <td style="width: 23mm;border-width:0px;border: none;margin-left:0px;margin-right:0px;padding-right:0px;padding-left:0px" id="data2"></td>
<!--                        <th colspan="1">单据编号</th>-->
                        <td style="width: 40mm;border: none;border-width:0px;text-align: left;padding-left: 0px;padding-right:0px" id="data3"></td>

                    </tr>
<!--                    <tbody id="data1"></tbody>-->
                    <tr style="font-size: 10px;border: none">
                        <th colspan="2" style="width:25mm;border: none;margin-left:3px">安装地址</th>
                        <td colspan="2" id="data4" style="width:20mm;border: none;padding-left:0px;padding-right:0px"></td>
                        <td colspan="2" id="data5" style="width:50mm;border: none;padding-left:0px;padding-right:0px"></td>
                    </tr>
                    </thead>
<!--                    <tbody id="data2"></tbody>-->
                    <tbody id="data6" style="margin-left:3px;font-size: 10px;border: none"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--    选择窗体-->
<div id="dd-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">选择数据</div>
            </div>
            <div class="modal-body">
                <table id="show-dd-table"></table>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="dd-submit-btn" type="button" class="btn" style="background-color: limegreen;color: white">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="dd-close-btn" type="button" class="btn left-margin" style="background-color: red;color: white">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>