<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下拉配置</title>
    <link rel="shortcut icon" href="#"/>

    <script type="text/javascript" src="../js/Jquery.js"></script>
    <script type="text/javascript" src="../js/jquerysession.js"></script>

    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/colResizable-1.6.js"></script>
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap-table-resizable.js"></script>

    <link rel="stylesheet" href="../css/sweetalert.css">
    <script type="text/javascript" src="../js/sweetalert-dev.js"></script>

    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/xlpz.js"></script>
</head>

<body class="pt-2">
<div id="table-toolbar">
    <div class="btn-group" role="group">
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise icon"></i>
            刷新
        </button>
        <button id="add-btn" class="btn btn-primary">
            <i class="bi bi-plus-square icon"></i>
            新增
        </button>
        <button id="update-btn" class="btn btn-primary">
            <i class="bi bi-pencil-square icon"></i>
            修改
        </button>
        <button id="delete-btn" class="btn btn-primary">
            <i class="bi bi-trash icon"></i>
            删除
        </button>
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：下拉配置</a>
    </div>
</div>

<div class="table-div border-top">
    <table id="xlpzTable"></table>
</div>

<div id="add-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">录入</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="add-form" class="needs-validation">
                    <div class="form-group">
                        <label for="add-cxdk">出线端口</label>
                        <input id="add-cxdk" name="cxdk" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入出线端口！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-lxc">铝型材-灯带</label>
                        <input id="add-lxc" name="lxc" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入铝型材-灯带！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-lcys">铝材颜色-灯带</label>
                        <input id="add-lcys" name="lcys" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入铝材颜色-灯带！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-gy">光源</label>
                        <input id="add-gy" name="gy" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入光源！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-dy">电源</label>
                        <input id="add-dy" name="dy" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入电源！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-kg">开关</label>
                        <input id="add-kg" name="kg" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入开关！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-pj">配件</label>
                        <input id="add-pj" name="pj" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入配件！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-shfs">送货方式</label>
                        <input id="add-shfs" name="shfs" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入送货方式！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-lxcLk">铝型材-铝框</label>
                        <input id="add-lxcLk" name="lxcLk" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入铝型材-铝框！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-lcysLk">铝材颜色-铝框</label>
                        <input id="add-lcysLk" name="lcysLk" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入铝材颜色-铝框！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-blsjg">玻璃深加工</label>
                        <input id="add-blsjg" name="blsjg" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入玻璃深加工！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-blys">玻璃颜色</label>
                        <input id="add-blys" name="blys" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入玻璃颜色！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-lsxh">拉手型号</label>
                        <input id="add-lsxh" name="lsxh" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入拉手型号！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-lsw">拉手位</label>
                        <input id="add-lsw" name="lsw" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入拉手位！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-kjlk">开铰链孔</label>
                        <input id="add-kjlk" name="kjlk" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入开铰链孔！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-jlkw">铰链孔位</label>
                        <input id="add-jlkw" name="jlkw" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入铰链孔位！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-fjpz">附件配置</label>
                        <input id="add-fjpz" name="fjpz" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入附件配置！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-jlpp">铰链品牌</label>
                        <input id="add-jlpp" name="jlpp" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入铰链品牌！
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-quyu">配送区域</label>
                        <input id="add-quyu" name="quyu" type="text" class="form-control" autocomplete="off">
                        <div class="invalid-feedback">
                            请输入配送区域！
                        </div>
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="add-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="update-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">编辑</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="needs-validation">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="update-cxdk">出线端口</label>
                        <input id="update-cxdk" name="cxdk" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-lxc">铝型材-灯带</label>
                        <input id="update-lxc" name="lxc" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-lcys">铝材颜色-灯带</label>
                        <input id="update-lcys" name="lcys" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-gy">光源</label>
                        <input id="update-gy" name="gy" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-dy">电源</label>
                        <input id="update-dy" name="dy" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-kg">开关</label>
                        <input id="update-kg" name="kg" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-pj">配件</label>
                        <input id="update-pj" name="pj" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-shfs">送货方式</label>
                        <input id="update-shfs" name="shfs" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-lxcLk">铝型材-铝框</label>
                        <input id="update-lxcLk" name="lxcLk" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-lcysLk">铝材颜色-铝框</label>
                        <input id="update-lcysLk" name="lcysLk" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-blsjg">玻璃深加工</label>
                        <input id="update-blsjg" name="blsjg" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-blys">玻璃颜色</label>
                        <input id="update-blys" name="blys" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-lsxh">拉手型号</label>
                        <input id="update-lsxh" name="lsxh" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-lsw">拉手位</label>
                        <input id="update-lsw" name="lsw" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-kjlk">开铰链孔</label>
                        <input id="update-kjlk" name="kjlk" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-jlkw">铰链孔位</label>
                        <input id="update-jlkw" name="jlkw" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-fjpz">附件配置</label>
                        <input id="update-fjpz" name="fjpz" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-jlpp">铰链品牌</label>
                        <input id="update-jlpp" name="jlpp" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="update-quyu">配送区域</label>
                        <input id="update-quyu" name="quyu" type="text" class="form-control" autocomplete="off">
                    </div>
                </form>
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="update-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    提交
                </button>
                <button id="update-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">提示</div>
            </div>
            <div id="delete-modal-body" class="modal-body">
                确定删除吗？
            </div>
            <div class="border-top" style="padding: 15px;">
                <button id="delete-submit-btn" type="button" class="btn btn-primary">
                    <i class="bi bi-arrow-bar-up icon"></i>
                    确定
                </button>
                <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                    <i class="bi bi-x-circle icon"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>